

.sidebar
{
    width: 250px;
    background-color: black;
    color: white;
}

.sidebar ul
{
    list-style: none;
    padding: 0;
}


.sidebar li
{
    padding: 10px;
}


.sidebar a
{
    text-decoration: none;
    color: white;
}

.sidebar
{
    width: 250px;
    background-image: url(/Pag/img/8bits.jpg);
    color: white;
    height: 100vh;
}

.baner1
{
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateX(10%);
    margin-top: -50%;
}

.baner
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    background-color: black;
    border: 10px solid violet;
}

nav
{
    line-height: 22%;
    word-spacing: 100%;
    text-indent: 30pt;
}

.nombrec1
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
    transform: translateX(50%);
    margin-top: -37%;
}

.nombrec
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    font-size: 125%;
    font-family: fantasy;
    border: 4px solid black;
    background-color: darkcyan;
}

a
{
    color: black;
}

.juegos1
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.col
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
}

.card
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 100%;
    border: 4px solid black;
    transform: translateX(140%);
}

.card-img-top
{
    border: 3px solid cyan;

}

.card-title
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.contenedor
{
    flex: 1;
    padding: 10px;
}